<div class="w-1/2 md:w-full">
    {% if message %}
        <span class="font-bold">{{ message }}</span>
        <button 
            class="btn btn-primary btn-sm ml-6 w-32"
            hx-get="{% url 'contacts:list' %}"
            hx-target="#contacts_container"
            hx-on:clean="upload_modal_container.close();"
            hx-push-url="true">
                Ok
        </button>
        <!-- <button class="btn btn-primary" hx-trigger="click" hx-on:click="console.log('this button clicked');">
            CLICK
        </button> -->
    {% else %}
        Empty message.
    {% endif %}
</div>