<div>
    {% if message %}
        {{ message }}
        <button class="btn btn-primary btn-xs m-2"
                hx-get="{% url 'contacts:list' %}"
                hx-target="#contacts_container"
                hx-on:clean="new_contact_modal_container.close();"
                hx-push-url="true">
            View/Refresh list
        </button>
        <button class="btn btn-info btn-xs m-2"
                hx-get="{% url 'contacts:new' %}"
                hx-target="#response_holder">
            Add another
        </button>
    {% else %}
        Empty message.
    {% endif %}
</div>