{% load partials %}

{% if user.username and user.email %}
    {{ user.username }}
    {{ user.email }}
    <button class="btn btn-primary btn-sm mb-4" onclick="logout_modal.showModal()">
        Logout
    </button>
    <button class="btn btn-secondary btn-xs" hx-post="{% url 'accounts:logout' %}" type="button">Logout (HTMX)</button>
{% endif %}
{% partialdef user-data %}
    {{ user.username }}
    {{ user.email }}
    <button class="btn btn-primary btn-sm mb-4" onclick="logout_modal.showModal()">
        Logout
    </button>
    <button class="btn btn-secondary btn-xs" hx-post="{% url 'accounts:logout' %}" type="button">Logout (HTMX)</button>
{% endpartialdef user-data %}
