<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-200">
    <table class="table table-sm">
        <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Created at:</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in contacts %}
                <tr class="hover:bg-base-300">
                    <th>{{ forloop.counter }}</th>
                    <td>{{ item.first_name }}</td>
                    <td>{{ item.last_name }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone_number }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.created_at }}</td>
                    <td><a class="link link-hover" 
                            hx-get="{% url 'contacts:item-detail' pk=item.id %}"
                            hx-trigger="click"
                            hx-target="#data_to_replace"
                            hx-on:success="item_modal.showModal();">
                        View
                        </a>
                    </td>
                    <td>
                        <button 
                            class="btn btn-soft btn-primary btn-sm"
                            hx-get="{% url 'contacts:item-edit' pk=item.id %}"
                            hx-trigger="click"
                            hx-target="#edit_data_to_replace"
                            hx-on:success="item_edit_modal.showModal();">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button 
                            class="btn btn-soft btn-error btn-sm"
                            hx-delete="{% url 'contacts:delete' pk=item.id %}"
                            hx-trigger="click"
                            hx-target="#contacts_container">
                            Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    {% include 'contacts/partials/contact-new-item-modal.html' %}
</div>