{% load widget_tweaks %}
{% load ir_date %}

<!-- the Grid container -->
<div class="flex flex-col-reverse md:grid md:grid-cols-4 md:gap-4">
    <!-- 3/4 cols for table -->
    <div class="col-span-3">
        <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-200">
            <table class="table table-md">
                <thead>
                    <tr>
                        <th></th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Created at:</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in filter.qs %}
                        <tr class="hover:bg-base-300">
                            <th>{{ forloop.counter }}</th>
                            <td>{{ item.first_name }}</td>
                            <td>{{ item.last_name }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.phone_number }}</td>
                            <td>{{ item.address }}</td>
                            <td>{{ item.created_at|to_persian }}</td>
                            <td>
                                <button class="btn btn-soft btn-success btn-sm"
                                        hx-get="{% url 'contacts:item-detail' pk=item.id %}"
                                        hx-trigger="click"
                                        hx-target="#data_to_replace"
                                        hx-on:success="item_modal.showModal();">
                                    View
                                </button>
                            </td>
                            <td>
                                <button 
                                    class="btn btn-soft btn-primary btn-sm"
                                    hx-get="{% url 'contacts:item-edit' pk=item.id %}"
                                    hx-trigger="click"
                                    hx-target="#edit_data_to_replace"
                                    hx-on:success="item_edit_modal.showModal();">
                                    Edit
                                </button>
                            </td>
                            <td>
                                <button 
                                    class="btn btn-soft btn-error btn-sm"
                                    hx-delete="{% url 'contacts:delete' pk=item.id %}"
                                    hx-trigger="click"
                                    hx-target="#contacts_container">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            {% include 'contacts/partials/contact-new-item-modal.html' %}
        </div>
    </div>

    
    <!-- 1/4 cols for filter form -->
    <div class="col-span-1">
        <div id="filter_form">
            <h4 class="font-bold text-md text-black-400">
                Filters
            </h4>
            <form 
                hx-get="{% url 'contacts:list' %}"
                hx-target="#contacts_container"
                hx-swap="innerHTML"
                class="m-4">
                <div class="form-control">
                    {{ filter.form.first_name|add_label_class:"label text-black" }}
                    {% render_field filter.form.first_name class="input" %}
                </div>
                <div class="form-control">
                    {{ filter.form.last_name|add_label_class:"label text-black" }}
                    {% render_field filter.form.last_name class="input" %}
                </div>
                <button class="btn btn-dash btn-xs mt-2">
                    Apply
                </button>
                <button class="btn btn-primary btn-outline btn-xs mt-2"
                    hx-get="{% url 'contacts:list' %}"
                    hx-target="#contacts_container"
                    hx-push-url="true"
                    hx-on:clean="console.log('Refreshing list...')">                                        
                Clear
            </button>
            </form>
            <form
                class="m-4"
                id="email_filter_form"
                hx-post="{% url 'contacts:email-search' %}"
                hx-target="#contacts_container"
                hx-swap="innerHTML">
                {% csrf_token %}
                <div class="form-control">
                    <label for="email" class="label">Search Emails:</label>
                    <input type="text" class="input input-xs" name="email" required />
                </div>
                <button type="submit" class="btn btn-xs btn-dash mt-2">
                    Apply
                </button>
            </form>
            <form
                id="phone_number_filter_form"
                hx-post="{% url 'contacts:phone-search' %}"
                hx-target="#contacts_container"
                hx-swap="innerHTML"
                class="m-4">
                {% csrf_token %}
                <div class="form-control">
                    <label for="phone_number" class="label">Search Phone Number:</label>
                    <input type="text" class="input input-xs" name="phone_number" required />
                </div>
                <button type="submit" class="btn btn-xs btn-dash mt-2">
                    Apply
                </button>
            </form>
            <button class="btn btn-outline btn-sm ml-4"
                    hx-post="{% url 'contacts:compound' %}"
                    hx-include="[id=email_filter_form], [id=phone_number_filter_form]"
                    hx-target="#contacts_container"
                    hx-swap="innerHTML">
                Compound search
            </button>
        </div>
    </div>
</div>