<dialog id="login_modal" class="modal">
    <div class="modal-box">

        <h3 class="font-bold text-lg mb-4">Login now</h3>
        <h4 class="font-bold text-lg mb-4 text-red-500">Due to security concerns, page will be refreshed.</h4>
        <form method="post" action="{% url 'accounts:login' %}" class="mb-4">
            {% csrf_token %}
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Username:</span>
                </label>
                <input type="text" placeholder="Username" class="input" name="username" autocomplete="username" />
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Password:</span>
                </label>
                <input type="password" placeholder="Password" class="input" name="password" autocomplete="current-password" />
            </div>
            <div class="modal-action">
                <button type="submit" class="btn btn-primary btn-sm">Login</button>
            </div>
        </form>
        <button 
            class="btn" 
            onclick="login_modal.close()"
            hx-get="{% url 'accounts:re-home' %}"
            hx-push-url="true">
            Cancel
        </button>
    </div>
</dialog>