{% extends "base.html" %}



{% block content %}
    <div class="overflow-x-auto">
        <table class="table table-s">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Created at:</th>
                </tr>
            </thead>
            <tbody>
                {% for item in contacts %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ item.first_name }}</td>
                        <td>{{ item.last_name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.phone_number }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Created at:</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}