<div id="item_data" class="flex flex-col justify-center items-center">
    <div class="font-bold">
        {% if item %}
            <p class="m-4">First Name: {{ item.first_name }}</p>
            <p class="m-4">Last Name: {{ item.last_name }}</p>
            <p class="m-4">Full Name: {{ item.full_name }}</p>
            <p class="m-4">Email: {{ item.email }}</p>
            <p class="m-4">Phone Number: {{ item.phone_number }}</p>
            <p class="m-4">Address: {{ item.address }}</p>
            <p class="m-4">Added on: {{ item.created_at }}</p>
        {% else %}
            <p>No item selected.</p>
        {% endif %}
    </div>
    <button class="btn btn-primary btn-wide btn-sm m-4" onclick="item_modal.close();">
        OK
    </button>
</div>