{% load widget_tweaks %}
{% if form %}
<h3 class="font-bold text-lg mb-4 text-green-600">New Contact Item</h3>
    <form id="new_item_form">
        {% csrf_token %}
        <div class="form-control">
            {{ form.first_name|add_label_class:"label text-black" }}
            {% render_field form.first_name class="input" placeholder="First Name" %}
            {% if form.first_name.errors %}
                <label class="label text-error">
                    {{ form.first_name.errors }}
                </label>
            {% endif %}
        </div>
        
        <div class="form-control">
            {{ form.last_name|add_label_class:"label text-black" }}
            {% render_field form.last_name class="input" placeholder="Last Name" %}
            {% if form.last_name.errors %}
                <label class="label text-error">
                    {{ form.last_name.errors }}
                </label>
            {% endif %}
        </div>
        
        <div class="form-control">
            {{ form.email|add_label_class:"label text-black" }}
            {% render_field form.email class="input" type="email" placeholder="Email" %}
            {% if form.email.errors %}
                <label class="label text-error">
                    {{ form.email.errors }}
                </label>
            {% endif %}
        </div>
        
        <div class="form-control">
            {{ form.phone_number|add_label_class:"label text-black" }}
            {% render_field form.phone_number class="input" type="text" placeholder="mobile" %}
            {% if form.phone_number.errors %}
                <label class="label text-error">
                    {{ form.phone_number.errors }}
                </label>
            {% endif %}
        </div>
    
        <div class="form-control">
            {{ form.address|add_label_class:"label text-black" }}
            {% render_field form.address class="textarea" placeholder="address" %}
            {% if form.address.errors %}
                <label class="label text-error">
                    {{ form.address.errors }}
                </label>
            {% endif %}
        </div>

        <button class="btn btn-xs btn-success m-4"
                hx-post="{% url 'contacts:new-item' %}"
                hx-target="#new_item_form_to_replace"
                hx-swap="innerHTML">
            Submit
        </button>
    </form>
    
<button class="btn btn-xs btn-warning m-4" onclick="new_item_modal.close();">Cancel</button>
{% endif %}