{% load static tailwind_tags %}
{% load partials %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>

    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    
    {% tailwind_css %}

</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="m-12">
        <div id="user-login-status">
            {% include 'accounts/partials/user-status.html' %}
        </div>
    {% include 'accounts/partials/signup-modal-form.html' %}
    {% include 'accounts/partials/login-modal-form.html' %}
    {% include 'accounts/partials/logout-confirm-modal.html' %}
    {% block content %}
    {% endblock content %}
    {% block extra_scripts %}
    {% endblock extra_scripts %}
    </div>
</body>
</html>