{% load static tailwind_tags %}
{% load partials %}
{% load django_htmx %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>

    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    
    {% tailwind_css %}

</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="m-12">
        {% if messages %}
            {% for message in messages %}
                <div role="alert" class="alert alert-{{ message.tags }}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                    </svg>
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
        <div id="user-login-status">
            {% include 'accounts/partials/user-status.html' %}
        </div>
    {% include 'accounts/partials/signup-modal-form.html' %}
    {% include 'accounts/partials/login-modal-form.html' %}
    {% include 'accounts/partials/logout-confirm-modal.html' %}
    {% block content %}
    {% endblock content %}
    {% block extra_scripts %}
    {% endblock extra_scripts %}
    </div>
</body>
</html>